:root {
  --fg: #D6D6D6;
  --brdr: #787878;
}    

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/font.woff2') format('woff2');
}
    
    body {
      font-family: 'JetBrainsMono';
      display: flex;
      justify-content: center;
      background-color: black;
      color: var(--fg);
      font-size: large;
}

    .content {
      display: column:
}

    .header {
      display: flex;
      justify-content: center;
}

    .contactb {
      border: none;
      background-color: black;
      color: var(--fg);
}
    .contactcontent {
      position: fixed;
      top: -50%;
      border: solid 4px orange;
      background-color: black;
      color: var(--fg);
      padding: 7px;
}

    .outer-border {
      border-style: dashed;
      border-color: var(--brdr);
      width: 550px;
    }

    .middle-border {
      border-style: dotted;
      border-color: var(--brdr);
    }

    .inner-border {
      border-style: dashed;
      border-color: var(--brdr);
      padding: 15px;
      text-align: justify;
    }
