:root {
  
}    

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/font.woff2') format('woff2');
}
    
    body {
      font-family: 'JetBrainsMono';
      background-color: black;
      color: white;
}

    .outer-border {
      border-style: dashed;
      border-color: white;
      width: fit-content;
    }

    .middle-border {
      border-style: dotted;
      border-color: white;
    }

    .inner-border {
      border-style: solid;
      border-color: white;
      padding: 7px;
    }
